.icsg-project-capsule {

  
  //? ======================================= BUTTONS AND UI ELEMENTS ====================================

  //$ +++++++++++++++++++++++++++++ ARROWS +++++++++++++++++++++++++++++
  .arrow {
    width: 20px;
    height: 20px;
    fill: #969592;
  }
    

  //$ +++++++++++++++++++++++++++++ BUTTONS +++++++++++++++++++++++++++++
    

  //// --------------- main button ------------------
    
  .main-button {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to top, #ffab23 5%, #ffec64 100%);
    border-radius: 7px;
    border: 1px solid #fdb515;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Encode Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 38px;
    text-decoration: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */    

    &:hover {
      background: linear-gradient(to top, #ffab23 5%, #ffec64 100%);
    }
  
  
    &:active {
      background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
      opacity: 1;
      transition: 0s;
      transform: translateY(2px);
    }
  }

  

  //// --------------- SKIP BUTTON ------------------
    
  .skip-button {
    font-size: 20px;
    font-weight: 600;
    color: #969592;
    display: flex;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    .forward-arrow {
      transform: rotate(180deg);
      margin-left: 5px;
    }
  }
    
  
  //// --------------- BACK BUTTON ------------------
  
  .back-button {
    font-size: 20px;
    font-weight: 600;
    color: #969592;
    display: flex;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    .back-arrow {
      margin-right: 5px;
    }
  }


  //// --------------- UNITS BUTTON ------------------
    
  .units-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  
    .unit-button {
      box-shadow: 3px 3px 2px -1px #2D2D2D;
      background-color:#fff;
      border-radius:8px;
      border:2px solid #12284B;
      display:inline-block;
      cursor:pointer;
      color:#12284B;
      font-size:20px;
      font-weight: bold;
      text-align: center;
      width: 95px;
      height: 45px;
      padding: 9px 0px;
      text-decoration:none;
      margin-left: 20px;
      transition: all 0.2s ease;
    }
  }
    
  //// --------------- ALTERNATE BUTTON STYLES ------------------
    
  .button-selected {
    box-shadow:inset 5px 5px 2px -1px #0a1629     !important;
    background:#12284B                            !important;
    position:relative                               !important;
    top:1px                                         !important;
    color:#fff                                    !important;
  }
  
  .button-inactive {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
  }
  
  .button-hide {
    display: none;
  }
  

  //$ +++++++++++++++++++++++++++++ TOOL TIPS AND HELP MESSAGES +++++++++++++++++++++++++++++
    
  //// --------------- TOOL TIPS ------------------

  a.tooltip {
    color: rgb(167, 167, 167);
    margin-bottom: 10px;
    margin-top: 25px;
    text-decoration: underline;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
  
  .popup {
    max-width: 500px;
    position: absolute;
    transform: translate(-51%, 5%);
    z-index: 999;
    
    p {
      padding: 15px;
      padding-top: 40px;
      margin: 0px;
      text-align: center;
      position: relative;
    }

    .tooltip-holder {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
        filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
    }
  }
    
  //$ +++++++++++++++++++++++++++++ USER INPUT FIELDS +++++++++++++++++++++++++++++

  //// --------------- TEXT INPUTS ------------------
    
  .items {
    font-size: 24px;
    width: 65%;
  
    .text-box {
      position: relative;
      margin-bottom: 40px;
      width: 100%;
  
      input {
        width: 100%;
        height: 60px;
        color: #2d2d2d;
        font-weight: 500;
        font-size: 24px;
        border-radius: 10px;
        padding-left: 15px;
        border-width: 2px;
        border-style: solid;
        border-color: #2d2d2d;
        transition: all 0.7s ease;
        background-color: rgb(235, 235, 235);
        outline: none;

          
        &:valid {
          border-radius: 10px;
        }
      }
  
      label {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        padding-left: 15px;
        pointer-events: none;
        border: none;
      }
  
      .text-label-actual {
        position: absolute;
        opacity: .5;
        top: 12px;
        font-size: 28px;
        font-weight: 600;
        transition: all 0.3s ease;
      }
  
      input:focus + .text-input-animate .text-label-actual,
      input:valid + .text-input-animate .text-label-actual {
        transform: translateY(-170%);
        font-size: 18px;
      }
  
      input:focus + label,
      input:valid + label {
        opacity: 1;
      }
  
      .text-box:last-child {
        margin-bottom: 0;
      }
  
      .text-box:focus {
        outline: none;
      }

    }
  }
    

  //// ---------------  RADIO FORMS ------------------/
    
  .items {
  
    .radio-box {
      padding: 20px 0px 20px 15px;
      color: #333;
      font-size: 28px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      position: relative;
      margin-bottom: 40px;
      background-color: white;
      
      input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &:checked ~ .radio-circle {
          background-color: #fdb515;
          border-color: white;
        }
    
        &:checked ~ label:before {
          transform: translateX(100%);
        }
    
        &:checked ~ label {
          color: white;
          border-style: none;
        }
      }
  
      .radio-circle {
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        position: relative;
        z-index: 1;
        pointer-events: none;
      }
  
      label {
        //THIS IS ONLY FOR THE ANIMATION AND DOESNT DO MUCH OTHER THAN CONTROL THE BACKGORUND ON THE ANIMATION
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% ;
        border-style: solid;
        border-width: 2px;
        border-radius: 10px;
        pointer-events: none;
        border-color: #2d2d2d;
        padding-left: 50px;
        overflow: hidden;
        display: flex;
        align-items: center;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 100%;
          height: 100%;
          width: 100%;
          background-color: #fdb515;
          transition: all 0.5s ease;
        }
      }
  
      .radio-label-actual {
        position: relative;
        z-index: 1;
        font-size: 28px;
        transition: all 0.3s ease;
        user-select: none;
      }
    }
      
    .radio-box:hover {
      opacity: .7;
    }
  }
  

  //// --------------- CHECKBOX ------------------

  .items {
  
    .check-box {
      padding: 20px 0px 20px 15px;
      color: #333;
      font-size: 28px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      position: relative;
      margin-bottom: 40px;
      background-color: white;
      
      input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &:checked ~ .check-square {
          background-color: #fdb515;
          border-color: white;
        }
    
        &:checked ~ label:before {
          transform: translateX(100%);
        }
    
        &:checked ~ label {
          color: white;
          border-style: none;
        }
      }
  
      .check-square {
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 15%;
        border-style: solid;
        border-width: 1px;
        position: relative;
        z-index: 1;
        pointer-events: none;
      }
  
      label {
        //YOUR USING THIS FOR THE ANIMATION AND DOESNT DO MUCH FOR YOU OTHER THAN BACKGORUND ON THE ANIMATION
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% ;
        border-style: solid;
        border-width: 2px;
        border-radius: 10px;
        pointer-events: none;
        border-color: #2d2d2d;
        padding-left: 50px;
        overflow: hidden;
        display: flex;
        align-items: center;
        
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 100%;
          height: 100%;
          width: 100%;
          background-color: #fdb515;
          transition: all 0.5s ease;
        }
      }
  
      .checkbox-label-actual {
        position: relative;
        z-index: 1;
        font-size: 28px;
        transition: all 0.3s ease;
        user-select: none;
      }
  

    }
  }
    
  .items .radio-box:hover {
    opacity: .7;
  }
    
  //// --------------- SKIP BUTTON ------------------
  /* ------- MEASUREMENT -------*/
    
  .items {
  
    .m-top {
      display: flex;
      justify-content: space-between;

      .text-box{
        margin-bottom: 0px;
      }
    }
  
    .m-bottom {  
      position: relative; 
      height:0; 
      width: 100%; 
      padding: 0;
      padding-bottom: 55%;
      margin: 25px 0px;

  
  
  
      .illustration {
        position: absolute; 
        height: 100%; 
        width: 100%; 
        left: 0; 
        top:0;
        // margin-bottom: 20px;
      }
    }
  }
}